<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-05-27T07:25:33Z</date>
	<key>WorkspacePath</key>
	<string>/Users/sambhavsingh/Downloads/team_19_App 2/Team_19_App.xcodeproj</string>
</dict>
</plist>
